* {
  box-sizing: border-box;
  
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 100%; 
 
}
.left {
  width: 40%;
 height: 100%;
}  
/* Clear floats after the columns */
.container:after {
  content: "";
  display: flex;
  clear: both;
}
h2 {
    text-align: center;
    margin-bottom: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}
input, select {
    width: calc(100% - 1px); /* Account for padding and border */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.phone-wrapper {
    display: flex;
}
.country-code {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    background-color: #eee;
    margin-right: -1px; /* To remove space between elements */
}
button {
    background-color: #118314;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; /* Make button full width of the form */
    display: block;
    margin: 10px auto; /* Center horizontally and add margin */
    margin-top: 20px;
}
button:hover {
    background-color: #45a049;
}
h5 {
    text-align: center;
    margin-bottom: 25px;
}
.table-column {
  width: 45%;
  text-align: center;
  box-sizing: border-box;
  padding: 20px;
}
