html,body{
    margin: 0px;
    padding: 0px;
    font-family: "Poppins", serif;
}
nav {
    background-color: transparent;
    backdrop-filter: blur(25px);
    display: flex;
    position: sticky;
    height: 80px;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    padding-left: 0px;
    margin: 0px;
}

  .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  
/* .logo img{
    color: white;
    padding-left: 30px;
    height: 100%;
    height: 65px;
    width: 110px;
} */
.logo h1{
    color: black;
    padding-left: 30px;
    font-size: 26px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Poppins", serif;
    font-size: 20px;
}
.nav-links a:hover{
    color: red;
}

.item-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    margin: 0;
}
.item-list li{
    list-style: none;
    margin-right: 15px;
}
.item-list li a{
    text-decoration: none;
    color: #fff;
    font-size: 22px;
    display: grid;
    font-size: 16px;
}
.item-list li a img{
    height:40px;
    height: 40px;
    color: black;
}
.burger {
    display: none;
    cursor: pointer;
}

.burger img{
    width: 30px;
    height: 30px;
    margin: 5px;
    color: white;
}
.close{
    height: 40px;
    width: 40px;
    display: none;
}
#home-page{
    background:rgba(0,0,0,0.7) url("../Images/bg.jpg");
    background-size: cover;
    margin: 35px;
    display: flex;
    height: auto;
    background-blend-mode: darken;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.text-title{
    display: flex;
    flex-direction: column;
    border: none;
    border-left: 5px solid red;
    padding-left: 10px;
    width: 50%;
}
.text-title h1{
    color: #fff;
    font-size: 60px;
    margin: 0px;
}

.text-title p{
    font-size: 20px;
    margin-top: 20px;
    padding-right: 35px;
    color: rgb(254, 254, 254);
}
#home-btn{
    padding: 8px 26px;
    background-color: red;
    color: white;
    font-size: 22px;
    border-radius: 50px;
    border: 2px solid white;
    cursor: pointer;
    align-items: center;
}

#home-btn:hover{
    background-color: white;
    color: red;
    border: 2px solid black;
}
.home-img img{
    height: 500px;
    width: 500px;
    padding-top: 100px;
    animation: rotate 2s infinite linear;
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    } 
    100%{
        transform: rotate(360%);
    }   
}

.home-img{
    margin-bottom: 90px;
}

.specialties{
    text-align: center;
    padding: 50px 20px;
    background-color: white;
    color: #1a1a1a;
}

.specialties h2{
    font-size: 2.5em;
    margin-bottom: 10px;
}
.specialties p{
    font-size: 1.2em;
    color: #353434;
}
.specialties .underline{
    width: 50px;
    height: 3px;
    background-color: #e74c3c;
    margin: 10px auto 30px;
}
.specialties .cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.container {
    width: 100%;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }
  
  .item {
    display: inline-block;
    padding: 10px;
    display: flex;
    width: 300px; /* Adjust min-width as needed */
  }
  .card {
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    text-align: left;
    color: white;
    height: 350px;
}
 .card img{
    width: 100%;
    height: 70%;
}
 .card .content{
    padding: 20px;
    padding-top: 10px;
}
 .card .content h3{
    margin: 0;
    font-size: 1.5em;
}
 .card .content p{
    margin: 10px 0;
    font-size: 1em;
    color: #b3b3b3;
}
.specialties .card .content .price{
    font-size: 1.2em;
    color: #e74c3c;
}
.specialties .view-menu {
    display: inline-block;
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #e74c3c;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1.2em;
    width: 150px;
}
.features {
    text-align: center;
    justify-content: space-around;
    padding: 50px;
    padding-bottom: 100px;
    background-color: #1a1a1a;
}
.features .service-list{
    display: flex;
    width: 100%;
    gap: 25px;
    justify-content: center;
}
.features .service-list .feature {
    text-align: center;
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid red;
}
.features .service-list .feature i {
    font-size: 40px;
    color: white;
    margin-bottom: 10px;
}
.features .service-list .feature h3 {
    font-size: 24px;
    color: white;
    margin-bottom: 10px;
}
.features .service-list .feature p {
    font-size: 16px;
    color: #f0e9e9;
}
.features h2{
    font-size: 2.5em;
    margin: 20px;
    text-align: center;
    color: white;
}
.features .underline{
    width: 50px;
    height: 3px;
    background-color: #e74c3c;
    margin: 10px auto 30px;
}
.about{
    background-color: black;
    padding: 50px;
    height: auto;
    padding-bottom: 100px;
}

.about h2{
    font-size: 2.5em;
    margin: 20px;
    text-align: center;
    color: white;
}
.about .underline{
    width: 50px;
    height: 3px;
    background-color: #e74c3c;
    margin: 10px auto 30px;
}
.about .about-content{
    width: 100%;
    display: flex;
    height: 450px;
}
.about .about-content .img-content{
    width: 50%;
    display: flex;
}
.img1{
    height: 350px;
    width: 350px;
    z-index: 1;
    background-size: cover;
}
.img2{
    z-index: 5;
    background-size: cover;
    height: 350px;
    width: 350px;
    margin-left: -50px;
    margin-top: 100px;
}
.about-text{
    width: 50%;
    display: block;
    align-content:center;
}
.about-text h4{
    color: white;
    font-size: 30px;
}





.card-details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
    z-index: 10;
  }
  
  .card-details img {
    max-width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }











/* Media Query for smaller screens */
@media (max-width: 920px) {
    html,body{
        margin: 0px;
        padding: 0px;
        font-family: "Poppins", serif;
    }
      .poppins-regular {
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
  }
  .logo h1{
    font-size: 23px;
    padding-left: 8px;
  }
    .nav-links {
        position: absolute;
        background-color: white;
        backdrop-filter: blur(50px);
        width: auto;
        height: 0;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
        display: none;        
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        font-family: "Poppins", serif;
        top: 70px;
        padding: 0px;
        margin: 0px;
        height: auto;
        z-index: 9;
    }
    .item-list{
        padding: 0;
        margin: 0;
    }

    .nav-links li {
        text-align: center;
        padding: 15px;
    }
    .nav-links li a{
        font-family: "Poppins", serif;
        text-decoration: none;
    }
    .nav-list .item-list li a img{
        height: 30px;
        width: 30px;
    }

    .burger {
        display: block;
    }
    .burger img{
        margin: 0;
        padding-right: 8px;
    }
    .close{
        height: 30px;
        width: 30px;
        margin: 0;
        padding-right: 8px;
    }
    #home-page{
        display: flex;
        flex-direction: column;
        height: auto;
        overflow: hidden;
        margin: 10px;
    }
    .text-title{
        width: 100%;
        font-size: 26px;
        padding-bottom: 50px;
        margin-top: 30px;
        border: none;
        padding-left: 0;
        margin-left: 18px;
    }
    .text-title h1{
        font-size: 30px;
        font-family: "Poppins", serif;
        margin-right: 17px;
    }
    .text-title p{
        font-size: 20px;
        padding-right: 15px;
    }
    .home-img{
        width: 100%;
        display: flex;
        display: none;
        justify-content: center;
    }
    .home-img img{
        width: 190px;
        height: 250px;
        padding-top: 50px;

    }
    #home-btn{
        align-items: center;
        font-size: 20px;
        margin: 0;
    }
    .services{
        margin: 40px;
        background-color: black;
    }
    .service-title{
        font-size: 35px;
        margin-top: 28px;
        margin-bottom: 10px;
    }
    .box{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 95%;
        gap: 10px;
    }
    .card{
        margin: 0px;
        width: 100%;
        height: 130px;
        overflow: hidden;
    }
    .card p{
        font-size: 17px;
    }
    .card-logo{
        height: 100%;
    }
    #book{
        width: 25%;
        padding: 10px 10px;
        text-align: center;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }

    .specialties{
        margin-top: 50px;
        padding-top: 20px;
    }
    .specialties .cards{
        display: flex;
        align-items: center;
        overflow-x: auto;
        white-space: nowrap;
    }
    .specialties .cards .container .item{
        width: 250px;
    }
    .specialties .card{
        width: 180px;
        height: 200px;
        display: inline-block;
    }
    .specialties .card .content{
        padding: 0;
        padding-left: 8px;
    }
    .specialties .card .content h3{
        margin: 0;
        font-size: 1em;
    }
    .specialties .card .content p{
        margin: 0;
        font-size: 0.7em;
        color: #b3b3b3;
    }
    .specialties .card .content .price{
        font-size: 1em;
        color: #e74c3c;
    }
    .specialties .view-menu{
        margin-top: 15px;
    }
    .features{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 25px;
    }
    .features .service-list{
        display: flex;
        flex-direction: column;
    }
    .about{
        width: 100%;
        padding: 0;
        margin: 0;
        height: fit-content;
    }
    .about .underline{
        margin-bottom: 10px;
    }
    .about-content{
        padding: 0;
        overflow: hidden;
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
    }
    .about-content .img-content{
        display: flex;
        width: 100%;
    }
    .img1{
        z-index: 0;
        margin: 0;
        padding: 0;
        background-size: cover;
        width: 200px;
        height: 200px;
    }
    .img2{
        z-index: 0;
        margin: 0;
        height: 200px;
        padding: 0;
        width: 300px;
        background-size: cover;
    }

    .about-text{
        width: 100%;
        padding-right: 0;
        margin-right: 15px;
    }
    .about-text h4{
        font-size: 15px;
        margin: 0;
        padding: 0;
        width: 80%;
    }
}