<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../Css/index.css">
    <link rel="stylesheet" href="../Css/cart.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
    <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
    </style>
    
</head>
<body>

    <nav>
        <div class="logo">
            <!-- <img src="../Images/logo1.png" alt="Pangat_Hotel" > -->
             <h1>Hotel_Pangat</h1>
        </div>
        <ul class="nav-links">
            <li><a href="index.html">Home</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Book Table</a></li>
        </ul>
        <div class="nav-list">
            <ul class="item-list">
                <li><a href="#"><img src="../icon/login.png" alt=""></a></li>
                <li><a href="#"><img src="../icon/cart.png" alt=""></a></li>
                <div class="burger">
                    <img src="../icon/menu.png" alt="bar" class="open">
                </div>
                <img src="../icon/close.png" alt="close" class="close">

            </ul>
        </div>    
    </nav>

    <h1>Your Shopping Cart</h1>
    <div id="cartItems"></div>
    <button onclick="clearCart()">Clear Cart</button>
    <button onclick="goBack()">Continue Shopping</button>


    <script src="../Javascript/cart.js"></script>
    <script src="../Javascript/index.js"></script>
</body>
</html>