
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delicious Italian Food</title>
        <link rel="stylesheet" href="../Css/about.css">
        <link rel="stylesheet" href="../Css/index.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
        <nav>
            <div class="logo">
                <img src="../Images/logo1.png" alt="Pangat_Hotel" > 
                 <!--<h1>Hotel_Pangat</h1>-->
            </div>
            <ul class="nav-links">
                <li><a href="index.html">Home</a></li>
                <li><a href="menu.html">Menu</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Gallery</a></li>
                <li><a href="contact.html">Contact us</a></li>
                <li><a href="#">Book Table</a></li>
            </ul>
            <div class="nav-list">
                <ul class="item-list">
                    <li><a href="#"><img src="../icon/login.png" alt=""></a></li>
                    <li><a href="cart.html"><img src="../icon/cart.png" alt=""></a></li>
                    <div class="burger">
                        <img src="../icon/menu.png" alt="bar" class="open">
                    </div>
                    <img src="../icon/close.png" alt="close" class="close">
    
                </ul>
            </div>
            
        </nav>
        <div class="about">
            <h2>About us</h2>
            <div class="underline"></div>
            <div class="about-content">
                <div class="img-content">
                    <img src="../Images/about_c2.jpg" alt="" class="img1">
                    <img src="../Images/p1.jpg" alt="" class="img2">
                </div><div class="about-text">
                    <h4>Experience pangat hotel where delicious food meets exceptional service. We invite you to savor a symphony of flavors, from our signature butter chicken to seafood with innovative twists. Our user-friendly online platform makes ordering your favorite dishes a breeze. Experience the ambiance of our elegant dining table while our attentive staff ensures a memorable dining experience.Whether you're celebrating a special occasion, birthday party,official </h4>

                </div>
            </div>
            <p> meeting, functions and simply enjoying a delightful meal, pangat hotel promises an unforgettable culinary journey.You  will definitely enjoy your moments together with booking a table as special dining, Indian traditional dining as well!</p>
        </div>
        <section class="feat">
            
            <div class="service-list">
            <div class="feature">
             <i class="fas fa-utensils">
             </i>
             <h3>
              Easy To Order
             </h3>
             <p>
              Users can order their yummy and fav dish easily. 
             </p>
            </div>
            <div class="feature">
             <i class="fas fa-truck">
             </i>
             <h3>
              Fastest Delivery
             </h3>
             <p>
              We provide Fastest Delivery as soon as possible.
             </p>
            </div>
            <div class="feature">
             <i class="fas fa-star">
             </i>
             <h3>
              Best Quality
             </h3>
             <p>
              We provide excellent quality and delicious food. 
             </p>
            </div>
            </div>
        </section>
    </body>