<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Italian Food</title>
    <link rel="stylesheet" href="../Css/gallery.css">
    <!-- <link rel="stylesheet" href="../Css/index.css"> -->
     <link rel="stylesheet" href="../Css/ai.css">
</head>
<body style="font-family: poppins,sans-serif;">
    <nav class="navbar">
        <div class="navbar-brand"><img src="../Images/logo1.png" style="height: 40px; width: 100px;" alt=""></div>
        <ul class="navbar-menu" id="navbarMenu">
          <li><a href="index.html">Home</a></li>
          <li><a href="menu.html">Menu</a></li>
          <li><a href="booking.html">Book Table</a></li>
          <li><a href="about.html">About Us</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="navbar-actions">
          
            <a href="cart.html" id="cartCount">Cart(0)</a> 
        </div>
        <div class="navbar-toggle" id="navbarToggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>

    <main>
        <h2>Our Gallery</h2>
               <div class="underline">
               </div>
        <section class="gallery">
            <div class="image-grid">
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0019.jpg" alt="Image 1">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0020.jpg" alt="Image 2">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0024.jpg" alt="Image 3">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0027.jpg" alt="Image 4">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 5">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 6">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 7">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 8">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 9">
                </div>
            </div>
        </section>
    </main>
        <!--Footer code-->
        <footer>
            <div class="footer-container">
                <div class="footer-column">
                    <div class="footer-logo">
                        <img src="../Images/logo1.png" alt="Pangat_Hotel" >
                    </div>
                    <p style="text-align:left; font-size: 1.2em; padding-top: 0;">Your one-stop destination for delicious food and symphony of flavors at your Pangat Hotel.</p>
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="footer-column">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="#">All</a></li>
                        <li><a href="#">Veg</a></li>
                        <li><a href="#">Fish</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">Book Table</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Gallery</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Contact Info</h3>
                    <p><i class='bx bxs-map' style="font-size: 1.8em; gap: 10px; margin-top: 0px;" ></i>    PC8V+HC3, Station Road,<br>     Korochi, Ichalkaranji, Maharashtra 416121</p>
                    <p><i class='bx bxs-phone'style="font-size: 1.8em; gap: 10px;" ></i> 90757 77575, 8180805252</p>
                    <p><i class='bx bxs-envelope'style="font-size: 1.8em; gap: 10px;" ></i><a href="mailto:pangathotel@gmail.com">  pangathotel@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; <?php echo date("Y"); ?> Pangat Hotel. All rights reserved. </p>
            </div>
        </footer>
    <script src="../Javascript/index.js"></script>
    <script src="../Javascript/menu.js"></script>
</body>
</html>