<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delicious Italian Food</title>
    <link rel="stylesheet" href="../Css/gallery.css">
    <link rel="stylesheet" href="../Css/index.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand"><img src="../Images/logo1.png" style="height: 40px; width: 100px;" alt=""></div>
        <ul class="navbar-menu" id="navbarMenu">
          <li><a href="index.html">Home</a></li>
          <li><a href="menu.html">Menu</a></li>
          <li><a href="#">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Book Table</a></li>
        </ul>
        <div class="navbar-actions">
          
          <a href="cart.html">Cart(0)</a> 
        </div>
        <div class="navbar-toggle" id="navbarToggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>

    <main>
        <h2>Our Gallery</h2>
               <div class="underline">
               </div>
        <section class="gallery">
            <div class="image-grid">
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0019.jpg" alt="Image 1">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0020.jpg" alt="Image 2">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0024.jpg" alt="Image 3">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0027.jpg" alt="Image 4">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 5">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 6">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 7">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 8">
                </div>
                <div class="image-container">
                    <img src="../Images/IMG-20250106-WA0028.jpg" alt="Image 9">
                </div>
            </div>
        </section>
    </main>
    <script src="../Javascript/index.js"></script>
</body>
</html>