<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Pangat</title>
    <link rel="stylesheet" href="../Css/ai.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        </style>
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand"><img src="../Images/logo1.png" style="height: 40px; width: 100px;" alt=""></div>
        <ul class="navbar-menu" id="navbarMenu">
          <li><a href="#">Home</a></li>
          <li><a href="menu.html">Menu</a></li>
          <li><a href="booking.html">Book Table</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="gallery.html">Gallery</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <div class="navbar-actions">
          
            <a href="cart.html" id="cartCount">Cart(0)</a> 
        </div>
        <div class="navbar-toggle" id="navbarToggle">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </nav>
    <main>

    <!--Home page  -->
        <section id="home-page">
            <div class="text-title">
                <h1>Enjoy our Delicious meal</h1>
                <p>Through booking your table at hotel pangat instantly. Enjoy a hassle-free and unforgettable dining moment while exploring special yummy dishes. Saver tasty food delivered to your Eat with relish!</p>
                <a href="menu.html"><button id="home-btn">Order now</button></a>
            </div>
            <div class="home-img">
                <img src="../Images/Thali-img.png" alt="">
            </div>
        </section>

    <!--Feature page section  -->

        <section class="features">
            <h2>Our Services</h2>
               <div class="underline">
               </div>
            <div class="service-list">
            <div class="feature">
             <i class="fas fa-utensils">
             </i>
             <h3>
              Easy To Order
             </h3>
             <p>
              Users can order their yummy and fav dish easily. 
             </p>
            </div>
            <div class="feature">
             <i class="fas fa-truck">
             </i>
             <h3>
              Fastest Delivery
             </h3>
             <p>
              We provide Fastest Delivery as soon as possible.
             </p>
            </div>
            <div class="feature">
             <i class="fas fa-star">
             </i>
             <h3>
              Best Quality
             </h3>
             <p>
              We provide excellent quality and delicious food. 
             </p>
            </div>
            </div>
        </section>

    <!--Speciality Section code  -->

        <section class="specialties">
            <h2>
             Our Special Menu
            </h2>
            <div class="underline">
            </div>
            <p>
             Signature dishes crafted with passion
            </p>

            <div class="cards">
            <div class="container">
                
            <div class="item">
             <div class="card">
              <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/Fish_curry.jpg" width="300"/>
              <div class="content">
               <h3 style="width: 100%;content: fill;">Veg Maharashrian</h3>
              </div>
             </div>
             </div>

            <div class="item">
             <div class="card">
              <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/Mutton_biryani.jpg" width="300"/>
              <div class="content">
               <h3>Veg Panjabi Thali</h3>
              </div>
             </div>
             </div>

             <div class="item">
                <div class="card">
                <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/Chicken_tikka.jpg" width="300"/>
              <div class="content">
               <h3>Chicken Fry Thali </h3>
              </div>
             </div>
             </div>

             <div class="item">
                <div class="card">
                <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/Butter_chicken.jpg" width="300"/>
              <div class="content">
               <h3>Surmai Thali</h3>
              </div>
             </div>
             </div>

             <div class="item">
                <div class="card">
                <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/Chicken_curry.jpg" width="300"/>
              <div class="content">
               <h3>Chicken Gavaran</h3>
              </div>
             </div>
             </div>

             <div class="item">
                <div class="card">
                <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/Mutton_Rogan_josh.jpg" width="300"/>
              <div class="content">
               <h3>Muttont Gavaran</h3>
              </div>
             </div>
             </div>

             <div class="item">
                <div class="card">
               <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/Fish_fry.jpg" width="300"/>
              <div class="content">
               <h3>Chicken Lolipop</h3>
              </div>
             </div>
             </div>

             <div class="item">
                <div class="card">
                <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/veg_biryani.jpg" width="300"/>
              <div class="content">
               <h3>Murg Muslam</h3>
              </div>
             </div>
             </div>
            </div>
            <center><a class="view-menu" href="menu.html"> View Full Menu </a></center>
        </section>

    <!--About Page section-->

        <div class="about">
            <h2>About us</h2>
            <div class="underline"></div>
            <div class="about-content">
                <div class="img-content">
                    <img src="../Images/about_c2.jpg" alt="" class="img1">
                    <img src="../Images/p1.jpg" alt="" class="img2">
                </div>
                <div class="about-text">
                    <h4>Experience pangat hotel where delicious food meets exceptional service. We invite you to savor a symphony of flavors, from our signature butter chicken to seafood with innovative twists. Our user-friendly online platform makes ordering your favorite dishes a breeze. Experience the ambiance of our elegant dining table while our attentive staff ensures a memorable dining experience. </h4>
                    <a href="menu.html" class="know-more-button">Know More</a> 
                </div>
            </div>
        </div>

    <!--Login Popup section -->



    <!--Footer code-->
        <footer>
            <div class="footer-container">
                <div class="footer-column">
                    <div class="footer-logo">
                        <img src="../Images/logo1.png" alt="Pangat_Hotel" >
                    </div>
                    <p style="text-align:left; font-size: 1.2em; padding-top: 0;">Your one-stop destination for delicious food and symphony of flavors at your Pangat Hotel.</p>
                    <div class="footer-social">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </div>
                </div>
                <div class="footer-column">
                    <h3>Categories</h3>
                    <ul>
                        <li><a href="menu.html">All</a></li>
                        <li><a href="menu.html">Veg</a></li>
                        <li><a href="menu.html">Fish</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a href="contact.html">Contact Us</a></li>
                        <li><a href="booking.html">Book Table</a></li>
                        <li><a href="about.html">About Us</a></li>
                        <li><a href="gallery.html">Gallery</a></li>
                        <li><a href="terms.html">Terms and Conditions</a></li>
                    </ul>
                </div>
                <div class="footer-column">
                    <h3>Contact Info</h3>
                    <p><i class='bx bxs-map' style="font-size: 1.8em; gap: 10px; margin-top: 0px;" ></i>    PC8V+HC3, Station Road,<br>     Korochi, Ichalkaranji, Maharashtra 416121</p>
                    <p><i class='bx bxs-phone'style="font-size: 1.8em; gap: 10px;" ></i> 90757 77575, 8180805252</p>
                    <p><i class='bx bxs-envelope'style="font-size: 1.8em; gap: 10px;" ></i><a href="mailto:pangathotel@gmail.com">  pangathotel@gmail.com</a></p>
                </div>
            </div>
            <div class="footer-bottom">
                <p>&copy; <?php echo date("Y"); ?> Pangat Hotel. All rights reserved. </p>
            </div>
        </footer>
    </main>
    <script src="../Javascript/menu.js"></script>
    <script src="../Javascript/index.js"></script>
    <script src="../Javascript/get.js"></script>
    <!-- <script src="script.js"></script> -->
    

</body>
</html>