<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="../Css/index.css">
</head>
<body>
    <nav>
        <div class="logo">
            <img src="../Images/logo1.png" alt="Pangat_Hotel" >
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="#">Menu</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact us</a></li>
            <button id="book">Book Table</button>
        </ul>
        <div class="nav-list">
            <ul class="item-list">
                <li><a href="#"><img src="../icon/loginwhite.png" alt="">Login</a></li>
                <li><a href="#"><img src="../icon/cart.png" alt="">Cart</a></li>
                <div class="burger">
                    <img src="../icon/menu.png" alt="bar" class="open">
                </div>
                <img src="../icon/close.png" alt="close" class="close">

            </ul>
        </div>
        
    </nav>
    <main>
        <section id="home-page">
            <div class="text-title">
                <h1>Healthy food to live a healthier life in future</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, at. Cupiditate, ipsam! Quod ipsam accusantium, repudiandae voluptatibus fugiat dolor reprehenderit quidem itaque! Enim, molestias.</p>
                <a href="#"><button id="home-btn">Order now</button>
                </a>
            </div>
            <div class="home-img">
                <img src="../Images/special_thali2.png" alt="">
            </div>
        </section>
        

        
    </main>

    <script src="../Javascript/index.js"></script>
</body>
</html>