<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Responsive Navbar</title>
    <link rel="stylesheet" href="../Css/index.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
        </style>
</head>
<body>
    <nav>
        <div class="logo">
            <!-- <img src="../Images/logo1.png" alt="Pangat_Hotel" > -->
             <h1>Hotel_Pangat</h1>
        </div>
        <ul class="nav-links">
            <li><a href="#">Home</a></li>
            <li><a href="menu.html">Menu</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Contact us</a></li>
            <li><a href="#">Book Table</a></li>
        </ul>
        <div class="nav-list">
            <ul class="item-list">
                <li><a href="#"><img src="../icon/login.png" alt=""></a></li>
                <li><a href="cart.html"><img src="../icon/cart.png" alt=""></a></li>
                <div class="burger">
                    <img src="../icon/menu.png" alt="bar" class="open">
                </div>
                <img src="../icon/close.png" alt="close" class="close">

            </ul>
        </div>
        
    </nav>
    <main>
        <section id="home-page">
            <div class="text-title">
                <h1>Healthy food to live a healthier life in future</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, at. Cupiditate, ipsam! Quod ipsam accusantium, repudiandae voluptatibus fugiat dolor reprehenderit quidem itaque! Enim, molestias.</p>
                <center><a href="#"><button id="home-btn">Order now</button></a></center>
            </div>
            <div class="home-img">
                <img src="../Images/special_thali2.png" alt="">
            </div>
        </section>

        <section class="features">
            <h2>Our Services</h2>
               <div class="underline">
               </div>
            <div class="service-list">
            <div class="feature">
             <i class="fas fa-utensils">
             </i>
             <h3>
              Easy To Order
             </h3>
             <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             </p>
            </div>
            <div class="feature">
             <i class="fas fa-truck">
             </i>
             <h3>
              Fastest Delivery
             </h3>
             <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             </p>
            </div>
            <div class="feature">
             <i class="fas fa-star">
             </i>
             <h3>
              Best Quality
             </h3>
             <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
             </p>
            </div>
            </div>
        </section>

        <section class="specialties">
            <h2>
             Our Special Menu
            </h2>
            <div class="underline">
            </div>
            <p>
             Signature dishes crafted with passion
            </p>

            <div class="cards">
            <div class="container">
                
            <div class="item">
            <div class="card" onclick="showDetails(this)">
              <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/fish1.jpg" width="300"/>
              <div class="content">
               <h3>Grilled Salmon</h3>
               <!-- <p>Atlantic salmon with lemon butter </p> -->
               <p class="price">$32.99</p>
              </div>
             </div>
             </div>
             <div class="item">
                <div class="card" onclick="showDetails(this)">
                <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/fish.jpg" width="300"/>
              <div class="content">
               <h3>Grilled Salmon</h3>
               <!-- <p>Atlantic salmon with lemon butter </p> -->
               <p class="price">$32.99</p>
              </div>
             </div>
            </div>
            <div class="item">
             <div class="card" onclick="showDetails(this)">
              <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/fish.jpg" width="300"/>
              <div class="content">
               <h3>Grilled Salmon</h3>
               <!-- <p>Atlantic salmon with lemon butter </p> -->
               <p class="price">$32.99</p>
              </div>
             </div>
            </div>
            <div class="item">
             <div class="card" onclick="showDetails(this)">
              <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/fish.jpg" width="300"/>
              <div class="content">
               <h3>Grilled Salmon</h3>
               <!-- <p>Atlantic salmon with lemon butter </p> -->
               <p class="price">$32.99</p>
              </div>
             </div>
            </div>
            <div class="item">
             <div class="card" onclick="showDetails(this)">
              <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/fish.jpg" width="300"/>
              <div class="content">
               <h3>Grilled Salmon</h3>
               <!-- <p>Atlantic salmon with lemon butter </p> -->
               <p class="price">$32.99</p>
              </div>
             </div>
            </div>
            <div class="item">
             <div class="card" onclick="showDetails(this)">
              <img alt="Grilled Salmon with lemon butter sauce" height="200" src="../Images/fish1.jpg" width="300"/>
              <div class="content">
               <h3>Grilled Salmon</h3>
               <!-- <p>Atlantic salmon with lemon butter </p> -->
               <p class="price">$32.99</p>
              </div>
             </div>
             </div>
            </div>
            <center><a class="view-menu" href="menu.html"> View Full Menu </a></center>
            <div id="cardDetails" class="card-details">
                <span class="close-button" onclick="closeDetails()"><img src="../icon/close.png" style="height: 35px;width: 35px;"></span>
                <img id="productImage" src="" alt="">
                <h2 id="productName"></h2>
                <p id="price"></p>
                <button onclick="addToCart()">Add to Cart</button>
            </div>
        </section>


        <div class="about">
            <h2>About us</h2>
            <div class="underline"></div>
            <div class="about-content">
                <div class="img-content">
                    <img src="../Images/about_c2.jpg" alt="" class="img1">
                    <img src="../Images/about_t1.jpg" alt="" class="img2">
                </div>
                <div class="about-text">
                    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, iure aliquam? Eveniet quae explicabo consequuntur exercitationem dignissimos in, quam quibusdam perferendis? Maiores eos nemo, quos pariatur accusantium temporibus esse dignissimos ea excepturi neque quod similique tenetur ex vero quaerat quidem magnam ducimus sunt assumenda laudantium.</h4>
                </div>
            </div>
        </div>


        
    </main>

    <script src="../Javascript/menu.js"></script>
    <script src="../Javascript/index.js"></script>
    <script src="../Javascript/cart.js"></script>

</body>
</html>