<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../Css/index.css"> -->
     <link rel="stylesheet" href="../Css/ai.css">
    <link rel="stylesheet" href="../Css/menu.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
    <script src="https://cdn.tailwindcss.com">
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body> 
  <nav class="navbar">
    <div class="navbar-brand"><img src="../Images/logo1.png" style="height: 40px; width: 100px;" alt=""></div>
    <ul class="navbar-menu" id="navbarMenu">
      <li><a href="index.html">Home</a></li>
      <li><a href="#">Menu</a></li>
      <li><a href="gallery.html">Gallery</a></li>
      <li><a href="contact.html">Contact</a></li>
      <li><a href="#">About Us</a></li>
      <li><a href="#">Book Table</a></li>
    </ul>
    <div class="navbar-actions">
      
      <a href="cart.html" id="cartCount">Cart(0)</a> 
    </div>
    <div class="navbar-toggle" id="navbarToggle">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </nav>

    <header>
        <h2>Menu</h2>
        <div class="underline"></div>
    </header>


    <section>
      <center>
        <div class="search-bar">
            <input type="text" id="searchInput" placeholder="Search..." onkeyup="searchItems()">
        </div>
        <div class="product-container" id="productContainer">
          
            <!-- Products will be loaded dynamically here -->
        </div>

        <div id="popup" class="popup">
          <!-- Popup content will be dynamically inserted here -->
      </div>
      
    </center>
    </section>


    <script src="../Javascript/menu.js"></script>
    <script src="../Javascript/index.js"></script>
    <script src="../Javascript/cart.js"></script>
</body>
</html>