<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Delicious Italian Food</title>
        <link rel="stylesheet" href="../Css/term.css">
        <link rel="stylesheet" href="../Css/index.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&amp;display=swap" rel="stylesheet"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    </head>
    <body>
<section>
    <div class="terms">
        <h2>Terms & Conditions</h2>
            <div class="underline"></div>
            <h3>
                Interpretation 
            </h3>
            <p>
                The words of which the initial letter is capitalized have meanings defined under the following conditions. The following definitions shall have the same meaning regardless of whether they appear in singular or in plural.
            </p>
            <h3>
                Definitions
            </h3>
            <p>
                For the purposes of these Terms and Conditions:
            </p>
            <ul style="list-style-type: disc;">
                <li>Affiliate means an entity that controls, is controlled by or is under common control with a party, where control means ownership of 50% or more of the shares, 
                    equity interest or other securities entitled to vote for election of directors or other managing authority.</li>
                <li>
                    Country refers to: Maharashtra, India
                </li>
                <li>
                    Terms and Conditions (also referred as “Terms”)
                     mean these Terms and Conditions that form the entire agreement between You and the Company regarding the use of the Service.
                </li>
                <li>
                    Third-party Social Media Service means any services or content (including data, information, products or services) 
                    provided by a third-party that may be displayed, included or made available by the Service.
                </li>
            </ul>
            <h3>
                Your Order Cancellation Rights
            </h3>
            <p>
                You are entitled to cancel Your Order without giving any reason for doing so.

The deadline for cancelling an Order is 5 hours from the time on which You received the parcel or on which a third party you have appointed, who is not the carrier, takes possession of the product delivered.

In order to exercise Your right of cancellation, You must inform Us of your decision by means of a clear statement. You can inform us of your decision by:
<b>
By email: hotelpangat123@gmail.com</b>
We will reimburse You no later than as soon as from the time on which We receive the returned parcel. We will use the same means of payment as You used for the Order, and You will not incur any fees for such reimbursement.
            </p>
            <h3>
                Contact Us
            </h3>
            <p>If you have any questions about our terms and conditions, please contact us:

               <b> By email: hotelpangat123@gmail.com</b></p>
            
    </div>
</section>
    </body>
</html>